In [1]:
#Clean notebook for data clean up explantions

In [2]:
#imported our Dependancies as needed
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
import requests
import json
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

#Importing CSV files found online
state_lockdown_file = pd.read_csv("data_sources/lockdown_us.csv")
state_deaths_cases_file = pd.read_csv("data_sources/liz-friedman-us-covid-19-data-from-nytimes/us-states.csv")
county_population_file = pd.read_csv("data_sources/qventus-covid-19-localized-scenario-planner/qventus-covid-19-localized-scenario-planner/covid_county_population_usafacts.csv")

In [3]:
#URL pulls state data just for the current or last weekday reported
url = "https://api.covidtracking.com/v1/states/current.json"
state_current_data = (requests.get(url)).json()
#Creating dataframe form api request
state_current_data=pd.DataFrame(state_current_data)
#date format is yyyymmdd this line changes to yyyy-mm-dd
state_current_data['date'] = pd.to_datetime(state_current_data['date'], format='%Y%m%d')

#Dropping US territoires from state current data
state_current_data = state_current_data.set_index("state")
state_current_data = state_current_data.drop(["AS","GU","MP","PR", "VI","DC"])
state_current_data = state_current_data.reset_index()

state_current_data.head(50)

,state,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,AK,2020-09-02,6233,370651,NaN,46.0,NaN,NaN,NaN,10.0,...,376884,0,0,0eaef7dbd992985ab0f8d68e7290a358f8b6e44f,0,0,0,0,0,
1,AL,2020-09-02,128239,835994,NaN,959.0,14753.0,NaN,1501.0,NaN,...,964233,17,215,fca39761bbc6be0099b27c6b880230afcfeabc1b,0,0,0,0,0,
2,AR,2020-09-02,62112,675337,NaN,435.0,4341.0,NaN,NaN,90.0,...,737449,27,35,3c318be701fbb9138ced6d0286e3874d5edf35fe,0,0,0,0,0,
3,AZ,2020-09-02,202861,1011066,NaN,752.0,21449.0,248.0,NaN,146.0,...,1213927,21,44,36685dfe649f351d4b5be90630ede6819fded584,0,0,0,0,0,
4,CA,2020-09-02,712052,10868318,NaN,4851.0,NaN,1339.0,NaN,NaN,...,11580370,145,0,61ce2c9982d886c3da71512bb44db09f2bd735a6,0,0,0,0,0,
5,CO,2020-09-02,57775,660623,NaN,236.0,7053.0,NaN,NaN,NaN,...,718398,4,25,6390dedf19353347575ce408692f0fd3283149ef,0,0,0,0,0,
6,CT,2020-09-02,53108,1150871,NaN,65.0,11180.0,NaN,NaN,NaN,...,1203979,1,0,01ab76762b7d3161278f70030767edd0184b0e60,0,0,0,0,0,
7,DE,2020-09-02,17549,222981,NaN,62.0,NaN,9.0,NaN,NaN,...,240530,1,0,add38598290fa882e2083f84bed00763579b58a6,0,0,0,0,0,
8,FL,2020-09-02,633442,4060360,3515.0,3511.0,39611.0,NaN,NaN,NaN,...,4693802,130,300,1d3a0eb59cf90c76cb7f2bd307324bee0e49f4f9,0,0,0,0,0,
9,GA,2020-09-02,274613,2107024,NaN,2469.0,25025.0,NaN,4588.0,NaN,...,2381637,62,178,f0b119d1023c46cc465e24a6f82777f5a0182530,0,0,0,0,0,
10,HI,2020-09-02,8653,193533,NaN,288.0,532.0,48.0,NaN,27.0,...,202186,4,24,8724e399b3ce098fbc1c4e35b7af67f3e924986c,0,0,0,0,0,
11,IA,2020-09-02,64645,565009,NaN,310.0,NaN,87.0,NaN,39.0,...,629654,3,0,abb93c65e49f4569f3523d265f3e13cb3f25a3a6,0,0,0,0,0,
12,ID,2020-09-02,32368,226728,NaN,162.0,1394.0,46.0,381.0,NaN,...,259096,7,0,8c5ef4b7caeb3fb25d551d4a50083bbb0b63b1f7,0,0,0,0,0,
13,IL,2020-09-02,240345,3881230,NaN,1596.0,NaN,347.0,NaN,142.0,...,4121575,27,0,b08d33d07aeebb0d03915410efb9e6dd9782f122,0,0,0,0,0,
14,IN,2020-09-02,95750,996846,NaN,887.0,11143.0,247.0,2237.0,69.0,...,1092596,13,49,1fa59c56dfc390f291cab061f6cc5eac55b378d2,0,0,0,0,0,
15,KS,2020-09-02,43940,375307,NaN,336.0,2361.0,94.0,649.0,35.0,...,419247,12,57,3397d01a9e510e48d4d2d5af649747afad15b473,0,0,0,0,0,
16,KY,2020-09-02,49991,787220,NaN,589.0,4652.0,138.0,1396.0,NaN,...,837211,18,36,4ab9be4b53c2c7520d9e55e74fb289c9ba594a73,0,0,0,0,0,
17,LA,2020-09-02,149838,1754045,NaN,873.0,NaN,NaN,NaN,132.0,...,1903883,20,0,b3cebb3f1063214db9b3d781217f4bb733f212ad,0,0,0,0,0,
18,MA,2020-09-02,121131,1650575,NaN,308.0,12295.0,58.0,NaN,29.0,...,1771706,-4,-91,efb8b8d810cff4b7c1fe58ef4421ae1d13f179a4,0,0,0,0,0,
19,MD,2020-09-02,109319,1236327,NaN,370.0,14351.0,113.0,NaN,NaN,...,1345646,5,14,5814e64f8402212043c6b2fea72e7716608c51f9,0,0,0,0,0,
20,ME,2020-09-02,4567,268465,NaN,11.0,423.0,6.0,NaN,1.0,...,273032,1,2,5ee2ed8982e8321d7ef56976957862f1f2963b41,0,0,0,0,0,
21,MI,2020-09-02,114468,2702348,NaN,629.0,NaN,156.0,NaN,78.0,...,2816816,14,0,063bf3adbea1b35bb24de62833786087a07004e6,0,0,0,0,0,
22,MN,2020-09-02,77085,1073769,NaN,297.0,6566.0,135.0,1854.0,NaN,...,1150854,10,46,b49f0cc3cca4e26434f7bbb536f0273c73f804de,0,0,0,0,0,
23,MO,2020-09-02,87213,910884,NaN,934.0,NaN,NaN,NaN,113.0,...,998097,4,0,c15c67360e3a79539b19b6f7222a96976d8f81c4,0,0,0,0,0,
24,MS,2020-09-02,84365,497221,NaN,856.0,5326.0,190.0,NaN,111.0,...,581586,33,0,ff1e002516a9e9fc5f444324946ae8fb38dcb84f,0,0,0,0,0,
25,MT,2020-09-02,7691,246182,NaN,150.0,461.0,NaN,NaN,NaN,...,253873,4,14,4c5a22319294a83afb209c98d4a3557d45c865c2,0,0,0,0,0,
26,NC,2020-09-02,170553,2144757,NaN,858.0,NaN,270.0,NaN,NaN,...,2315310,38,0,38978449c028849bbbad93867c4b716d38ef2b8c,0,0,0,0,0,
27,ND,2020-09-02,12267,191830,NaN,66.0,575.0,16.0,153.0,NaN,...,204097,0,11,36a1d7482e0e91e3fc70a6993d239c09e9c31bc4,0,0,0,0,0,
28,NE,2020-09-02,34574,331067,NaN,162.0,2014.0,NaN,NaN,NaN,...,365641,2,8,a068acc2e0436c2a35fdb8b5d21e9ea747b4c118,0,0,0,0,0,
29,NH,2020-09-02,7297,203984,NaN,8.0,715.0,NaN,221.0,NaN,...,211281,0,0,8b6118f29661d0dc49bde3977557d0dfb4723038,0,0,0,0,0,
30,NJ,2020-09-02,192595,2709672,NaN,514.0,22707.0,99.0,NaN,29.0,...,2902267,0,40,21e077f9e158de8ba807ca43af382010db429e4f,0,0,0,0,0,
31,NM,2020-09-02,25460,739939,NaN,72.0,3151.0,NaN,NaN,NaN,...,765399,8,17,5c4491cf206610656c92297422205f9c44e89ae6,0,0,0,0,0,
32,NV,2020-09-02,69872,532436,NaN,675.0,NaN,199.0,NaN,113.0,...,602308,23,0,4bd37471ae262a7fac103636d856ee4d4c97251f,0,0,0,0,0,
33,NY,2020-09-02,436218,7992259,NaN,445.0,89995.0,117.0,NaN,61.0,...,8428477,5,0,5ea8d5920a5729dc75a1fe74eba5f9d63e9e6f50,0,0,0,0,0,
34,OH,2020-09-02,125767,2166981,NaN,746.0,13574.0,244.0,2989.0,126.0,...,2292748,11,95,1a35656873df72e050c7c0fdbe26e58a46a04547,0,0,0,0,0,
35,OK,2020-09-02,60118,833124,5331.0,545.0,4961.0,220.0,NaN,NaN,...,893242,12,58,e89ba8bd53259484dab45bb6acf6e6b6016bf7df,0,0,0,0,0,
36,OR,2020-09-02,27075,539307,NaN,139.0,2167.0,45.0,NaN,22.0,...,566382,3,5,4fca29627358ee1f12eb73bad313a4a01c0ec662,0,0,0,0,0,
37,PA,2020-09-02,135611,1552085,NaN,550.0,NaN,NaN,NaN,67.0,...,1687696,21,0,1fac6be64a6c0cb81278c7151483cc84c2752f31,0,0,0,0,0,
38,RI,2020-09-02,22078,256563,NaN,78.0,2542.0,8.0,NaN,4.0,...,278641,1,14,86690c037a2bbec735a17f674a9a93d7324edbe3,0,0,0,0,0,
39,SC,2020-09-02,120503,838529,NaN,892.0,7948.0,228.0,NaN,145.0,...,959032,37,78,59582a3cfdb2746c194544988cb07a0badbf0f74,0,0,0,0,0,
40,SD,2020-09-02,14003,134922,NaN,77.0,1043.0,NaN,NaN,NaN,...,148925,2,7,b52d98839e181c97da17a6b2eb17eb71c7b543a0,0,0,0,0,0,
41,TN,2020-09-02,157831,2080400,NaN,1082.0,7061.0,351.0,NaN,165.0,...,2238231,16,83,84998d5aa08b0a70e94094ea0f19e0a3cde328f6,0,0,0,0,0,
42,TX,2020-09-02,621667,4447195,NaN,4149.0,NaN,1476.0,NaN,NaN,...,5068862,189,0,5eb88707d077f31560e6f145e8bd34b8f801de7c,0,0,0,0,0,
43,UT,2020-09-02,52822,615603,NaN,147.0,3134.0,47.0,785.0,NaN,...,668425,1,24,d874daf966bf6ba2f2198f7853691a70f10eaa61,0,0,0,0,0,
44,VA,2020-09-02,122542,1488149,278.0,1114.0,16433.0,266.0,NaN,134.0,...,1610691,29,195,67f059f7ca8e1a5edef09be77dc6614d7e205669,0,0,0,0,0,
45,VT,2020-09-02,1637,137459,NaN,2.0,NaN,NaN,NaN,NaN,...,139096,0,0,4459e7c9ce9fe2a527e63a99e787803b1932de82,0,0,0,0,0,
46,WA,2020-09-02,74939,1405100,NaN,328.0,6787.0,NaN,NaN,48.0,...,1480039,16,24,cc7e7d883eee90615748714463203cdad2465dc6,0,0,0,0,0,
47,WI,2020-09-02,82182,1191548,150.0,287.0,5916.0,91.0,1030.0,NaN,...,1273730,11,38,7c30ebb498e1a95ecdf0790eb7f0e809d21e5f7b,0,0,0,0,0,
48,WV,2020-09-02,10642,430943,NaN,146.0,NaN,48.0,NaN,27.0,...,441585,8,0,26a782dbb4c7f4c54255145c75bef9be593891ad,0,0,0,0,0,
49,WY,2020-09-02,3911,72899,NaN,14.0,221.0,NaN,NaN,NaN,...,76810,0,2,0e8d3b4a0a2e5523a95318dc9ec954cb35565313,0,0,0,0,0,

In [4]:
#URL pulls collection of all states current data from previous dates
url = "https://api.covidtracking.com/v1/states/daily.json"
state_daily_data = (requests.get(url)).json()

#Creating dataframe form API request
state_daily_data=pd.DataFrame(state_daily_data)

#date format is yyyymmdd this line changes to yyyy-mm-dd
#Used later in adding specific cloumns for "Month" and "Day" for sorting data by timeframe
state_daily_data['date'] = pd.to_datetime(state_daily_data['date'], format='%Y%m%d')

#Dropping US Territories from state list
state_daily_data = state_daily_data.set_index("state")
state_daily_data = state_daily_data.drop(["AS","GU","MP","PR", "VI","DC"])
state_daily_data = state_daily_data.reset_index()

#loop for summing for total state cases
states = state_daily_data["state"].unique()
total_cases_by_state = []

for state in states:
    state_case = state_daily_data.loc[state_daily_data["state"] == state]
    total_cases_by_state.append(state_case["positive"].sum())

state_daily_data.head(500)

,state,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,AK,2020-09-02,6233.0,370651.0,NaN,46.0,NaN,NaN,NaN,10.0,...,376884,0,0,0eaef7dbd992985ab0f8d68e7290a358f8b6e44f,0,0,0,0,0,
1,AL,2020-09-02,128239.0,835994.0,NaN,959.0,14753.0,NaN,1501.0,NaN,...,964233,17,215,fca39761bbc6be0099b27c6b880230afcfeabc1b,0,0,0,0,0,
2,AR,2020-09-02,62112.0,675337.0,NaN,435.0,4341.0,NaN,NaN,90.0,...,737449,27,35,3c318be701fbb9138ced6d0286e3874d5edf35fe,0,0,0,0,0,
3,AZ,2020-09-02,202861.0,1011066.0,NaN,752.0,21449.0,248.0,NaN,146.0,...,1213927,21,44,36685dfe649f351d4b5be90630ede6819fded584,0,0,0,0,0,
4,CA,2020-09-02,712052.0,10868318.0,NaN,4851.0,NaN,1339.0,NaN,NaN,...,11580370,145,0,61ce2c9982d886c3da71512bb44db09f2bd735a6,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,VT,2020-08-24,1566.0,119824.0,NaN,11.0,NaN,NaN,NaN,NaN,...,121390,0,0,9a5c7aa14c4db0e44aa16faed4b43398526e9572,0,0,0,0,0,
496,WA,2020-08-24,71681.0,1308369.0,NaN,373.0,6530.0,NaN,NaN,36.0,...,1380050,6,30,c366ae1927bf49b617def0d4947594a53f889763,0,0,0,0,0,
497,WI,2020-08-24,75619.0,1119622.0,180.0,321.0,5573.0,106.0,991.0,NaN,...,1195241,0,15,566128f9d0be8e1ebfc77eefdc3832657a00ee93,0,0,0,0,0,
498,WV,2020-08-24,9312.0,389342.0,NaN,141.0,NaN,47.0,NaN,23.0,...,398654,1,0,1fb6b7d8b383472d08cfb145c24b75bc95aad3f9,0,0,0,0,0,
499,WY,2020-08-24,3603.0,62419.0,NaN,20.0,211.0,NaN,NaN,NaN,...,66022,0,4,84b3efc17ab3b01fac25d16315f19ecc0f0a3e65,0,0,0,0,0,

In [5]:
#loop for finding positive rate per month
#Positive cases per month / total of positive and negitive test results
months = [1,2,3,4,5,6,7,8]
positive_rates = []
state_list = []
month_list = []

for state in states:
    
    single_state = state_daily_data.loc[state_daily_data["state"] == state]
    single_state['date'] = pd.to_datetime(single_state['date'], format='%Y%m%d')    
    single_state = single_state.sort_values("date")
    single_state['month'] = pd.DatetimeIndex(single_state['date']).month
    single_state['day'] = pd.DatetimeIndex(single_state['date']).day
    for month in months:
        #print(state)
        try:
            single_month = single_state.loc[single_state["month"] == month]
            single_month = single_month.reset_index()
            first_row = single_month.iloc[0]
            last_row = single_month.iloc[-1]
            month_pos = int(last_row["positive"]) - int(first_row["positive"])
            month_tot = int(last_row["posNeg"]) - int(first_row["posNeg"])
            positive_rate = month_pos / month_tot
            positive_rate = "{:.2%}".format(positive_rate)
            positive_rates.append(positive_rate)
            state_list.append(state)
            month_list.append(month)
            
            
        except IndexError:
            #some states had no cases in the first 2 months
            print("no data for this month")
        except ValueError:
            #New Jersey had had values of NaN causing a value error
            print("value issue")
        except ZeroDivisionError:
            #Washington first month total comes out to 0 causing a division by zero error
            print("month total = 0")

no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
value issue
value issue
value issue
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
value issue
value issue
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
value issue
value issue
no data for this month
no data for this month
month total = 0
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month
no data for this month

In [6]:
#Dataframe created from above loop
pos_rates_df = pd.DataFrame({
    "State": state_list,
    "Positive Rate": positive_rates,
    "Month": month_list
})
pos_rates_df.head(25)

   State Positive Rate  Month
0     AK         3.21%      3
1     AK         1.53%      4
2     AK         0.22%      5
3     AK         0.82%      6
4     AK         2.27%      7
5     AK         2.09%      8
6     AL        13.48%      3
7     AL         7.48%      4
8     AL         8.55%      5
9     AL        10.75%      6
10    AL        17.70%      7
11    AL        12.75%      8
12    AR         8.08%      3
13    AR         6.60%      4
14    AR         4.92%      5
15    AR         7.49%      6
16    AR        11.30%      7
17    AR         8.50%      8
18    AZ         6.65%      3
19    AZ        12.29%      4
20    AZ         7.97%      5
21    AZ        19.42%      6
22    AZ        23.41%      7
23    AZ         9.71%      8
24    CA        25.85%      3

In [7]:
#States total population by summing all counties population
state_pop = []
states = county_population_file["State"].unique()

for state in states:
    state_df = county_population_file.loc[county_population_file["State"] == state]
    state_pop.append(state_df["population"].sum())
    
population_df = pd.DataFrame({
    "state": states,
    "population": state_pop
})

In [8]:
#State deaths cases data imported from sources folder
state_deaths_cases_file.head()

#Sorting alphabetically by state
state_deaths_cases_file = state_deaths_cases_file.rename(columns={"state":"State"})
state_deaths_cases_file = state_deaths_cases_file.sort_values("State")

#Breaking down date into a month and day column for easier filtering by month
state_deaths_cases_file['month'] = pd.DatetimeIndex(state_deaths_cases_file['date']).month
state_deaths_cases_file['day'] = pd.DatetimeIndex(state_deaths_cases_file['date']).day

#Dropping any empty rows from dataframe
state_deaths_cases_file = state_deaths_cases_file.dropna()
state_deaths_cases_file = state_deaths_cases_file.set_index("State")

state_deaths_cases_file.head()

               date  fips   cases  deaths  month  day
State
Alabama  2020-04-24     1    6026     209      4   24
Alabama  2020-07-18     1   65234    1286      7   18
Alabama  2020-05-07     1    9046     369      5    7
Alabama  2020-05-09     1    9668     390      5    9
Alabama  2020-08-18     1  110361    1936      8   18

In [9]:
#Looking at specific state data for states according to lockdown
positive_closings = state_deaths_cases_file.loc[["California","Florida","New York", 
                                                "Kansas","Texas","Washington"],
                                                ["date","cases","month"]]
positive_closings = positive_closings.sort_values("date")
positive_closings.head()

                  date  cases  month
State
Washington  2020-01-21      1      1
Washington  2020-01-22      1      1
Washington  2020-01-23      1      1
Washington  2020-01-24      1      1
Washington  2020-01-25      1      1

In [10]:
#Pulling data from specific state prior to the decsion to lock down.
#once data is pulled cases are summed up for each month
california = positive_closings.loc["California"]
cali_closings = california.loc[(california["date"] >= "2020-03-19"),:]
cali_closings = california.loc[(california["date"] <= "2020-05-12"),:]
cali_closings = cali_closings.groupby(by=["month"]).agg(sum)

kansas = positive_closings.loc["Kansas"]
ks_closings = kansas.loc[(kansas["date"]>= "2020-04-19"),:]
ks_closings = kansas.loc[(kansas["date"]<= "2020-05-03"),:]
ks_closings = ks_closings.groupby(by=["month"]).agg(sum)

florida = positive_closings.loc["Florida"]
fl_closings = florida.loc[(florida["date"]>= "2020-04-03"),:]
fl_closings = florida.loc[(florida["date"]<= "2020-04-30"),:]
fl_closings = fl_closings.groupby(by=["month"]).agg(sum)

new_york = positive_closings.loc["New York"]
ny_closings = new_york.loc[(new_york["date"]>= "2020-03-22"),:]
ny_closings = new_york.loc[(new_york["date"]<= "2020-05-15"),:]
ny_closings = ny_closings.groupby(by=["month"]).agg(sum)

washington = positive_closings.loc["Washington"]
wa_closings = washington.loc[(washington["date"]>= "2020-03-23"),:]
wa_closings = washington.loc[(washington["date"]<= "2020-05-04"),:]
wa_closings = wa_closings.groupby(by=["month"]).agg(sum)

texas = positive_closings.loc["Texas"]
tx_closings = texas.loc[(texas["date"]>= "2020-04-02"),:]
tx_closings = texas.loc[(texas["date"]<= "2020-04-30"),:]
tx_closings = tx_closings.groupby(by=["month"]).agg(sum)

In [11]:
#Sorting by states Re-open dates.  Data after the reopen is summed up to show total each month.
cali_reo = california.loc[(california["date"] >= "2020-05-12"),:]
cali_reo = cali_reo.groupby(by=["month"]).agg(sum)

ks_reo = kansas.loc[(kansas["date"]>= "2020-05-03"),:]
ks_reo = ks_reo.groupby(by=["month"]).agg(sum)

fl_reo = florida.loc[(florida["date"]>= "2020-04-30"),:]
fl_reo = fl_reo.groupby(by=["month"]).agg(sum)

ny_reo = new_york.loc[(new_york["date"]>= "2020-05-15"),:]
ny_reo = ny_reo.groupby(by=["month"]).agg(sum)

wa_reo = washington.loc[(washington["date"]>= "2020-05-04"),:]
wa_reo = wa_reo.groupby(by=["month"]).agg(sum)

tx_reo = texas.loc[(texas["date"]>= "2020-04-30"),:]
tx_reo = tx_reo.groupby(by=["month"]).agg(sum)

In [12]:
#Removing some of the counties listed and the types of stay at home/shelter in place


state_lockdown_file['month'] = pd.DatetimeIndex(state_lockdown_file['Date']).month
state_lockdown_file['day'] = pd.DatetimeIndex(state_lockdown_file['Date']).day

state_lockdown_file

,Country,State,County,Date,Type,month,day
0,United States,Alabama,NaN,2020-04-04,Stay at home,4,4
1,United States,Alabama,Birmingham,2020-03-24,Shelter in place,3,24
2,United States,Alaska,NaN,2020-03-28,Stay at home,3,28
3,United States,Arizona,NaN,2020-03-31,Stay at home,3,31
4,United States,California,NaN,2020-03-19,Stay at home,3,19
...,...,...,...,...,...,...,...
168,United States,Virginia,NaN,2020-03-30,Stay at home,3,30
169,United States,Washington,NaN,2020-03-23,Stay at home,3,23
170,United States,West Virginia,NaN,2020-03-24,Stay at home,3,24
171,United States,Wisconsin,NaN,2020-03-25,Stay at home,3,25
172,United States,Wyoming,Jackson,2020-03-28,Stay at home,3,28

In [13]:
#Takeing data from the State current API
state_current_narrow = state_current_data[["state","positive","death","hospitalized"]]
state_current_drop = state_current_narrow.dropna()
state_current_drop
state_current_drop = state_current_drop.set_index('state')
state_current_drop

#Merging with the state population dataframe to compair positive cases and deaths with state total population
state_current_df = pd.merge(state_current_drop, population_df, on='state')

state_current_df.head()

  state  positive  death  hospitalized  population
0    AL    128239   2217       14753.0     4903185
1    AR     62112    841        4341.0     3017804
2    AZ    202861   5065       21449.0     7278717
3    CO     57775   1853        7053.0     5758736
4    CT     53108   4467       11180.0     3565287

In [14]:
#Making a new dataframe of 5 states with early lockdown date
states_early_lock = state_current_drop.loc[["KY","MA","NY","WA","WI"],["death","hospitalized"]]
states_early_lock

#Making dataframe of 5 states with a late lockdown date
states_late_lock = state_current_drop.loc[["FL","GA","KS","SC","AZ"],["death","hospitalized"]]
states_late_lock

       death  hospitalized
state
FL     11651       39611.0
GA      5795       25025.0
KS       458        2361.0
SC      2794        7948.0
AZ      5065       21449.0

In [15]:
#Selection of states for having summer tourist attractions
#to see if cases increased during summer months
summer_fun = state_deaths_cases_file.loc[["California","Florida","Hawaii",
                                                "Missouri","Texas","Nevada"],
                                                ["date","cases","month"]]

summer_fun.head()

                  date   cases  month
State
California  2020-04-27   45208      4
California  2020-03-18     893      3
California  2020-05-13   73218      5
California  2020-07-23  433175      7
California  2020-05-11   69514      5