In [14]:
#Clean notebook for data clean up explantions

In [15]:
#imported our Dependancies as needed
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress
import numpy as np
import requests
import json
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

#Importing CSV files found online
#https://data.world/liz-friedman/us-covid-19-data-from-nytimes
#https://data.world/qventus/covid-19-localized-scenario-planner
state_lockdown_file = pd.read_csv("data_sources/lockdown_us.csv")
state_deaths_cases_file = pd.read_csv("data_sources/liz-friedman-us-covid-19-data-from-nytimes/us-states.csv")
county_population_file = pd.read_csv("data_sources/qventus-covid-19-localized-scenario-planner/qventus-covid-19-localized-scenario-planner/covid_county_population_usafacts.csv")

In [40]:
#URL pulls state data just for the current or last weekday reported
url = "https://api.covidtracking.com/v1/states/current.json"
state_current_data = (requests.get(url)).json()
#Creating dataframe form api request
state_current_data=pd.DataFrame(state_current_data)
#date format is yyyymmdd this line changes to yyyy-mm-dd
state_current_data['date'] = pd.to_datetime(state_current_data['date'], format='%Y%m%d')

#Dropping US territoires from state current data
state_current_data = state_current_data.set_index("state")
state_current_data = state_current_data.drop(["AS","GU","MP","PR", "VI","DC"])
state_current_data = state_current_data.reset_index()

state_current_data.head(50)

,state,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,AK,2020-08-31,6125,342505,NaN,39.0,NaN,NaN,NaN,8.0,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,
1,AL,2020-08-31,126058,859229,NaN,1004.0,14267.0,NaN,1474.0,NaN,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,
2,AR,2020-08-31,61224,665811,NaN,420.0,4213.0,NaN,NaN,87.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,
3,AZ,2020-08-31,201835,1002594,NaN,768.0,21405.0,256.0,NaN,152.0,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,
4,CA,2020-08-31,704085,10669220,NaN,4829.0,NaN,1346.0,NaN,NaN,...,11373305,28,0,3772a213d9eba8933d8d80c678cdbb3496a8a730,0,0,0,0,0,
5,CO,2020-08-31,57223,652673,NaN,240.0,7010.0,NaN,NaN,NaN,...,709896,0,17,065dff9892e53e1091a35af6ee073d17bd037f86,0,0,0,0,0,
6,CT,2020-08-31,52879,1120217,NaN,52.0,11180.0,NaN,NaN,NaN,...,1173096,0,0,9703ebeff3e3fa39cc3ddcf6d8199adb02a30621,0,0,0,0,0,
7,DE,2020-08-31,17429,219420,NaN,58.0,NaN,16.0,NaN,NaN,...,236849,1,0,7b665799ed78f58a5fe8c4dd4499ce295b5e4bba,0,0,0,0,0,
8,FL,2020-08-31,623471,3992068,3472.0,3736.0,38942.0,NaN,NaN,NaN,...,4615539,68,85,800b088f3e86a654f7a0c8641f0e9d2e9c3c0b32,0,0,0,0,0,
9,GA,2020-08-31,270471,2073163,NaN,2463.0,24604.0,NaN,4493.0,NaN,...,2343634,28,32,60b48955646ed5173da7cd102d87378d6d03dbec,0,0,0,0,0,
10,HI,2020-08-31,8339,188380,NaN,272.0,505.0,57.0,NaN,42.0,...,196719,1,8,1c1a450389f86a5db957dabc28e2babe0ea9ac0b,0,0,0,0,0,
11,IA,2020-08-31,63328,557544,NaN,299.0,NaN,85.0,NaN,46.0,...,620872,3,0,9f1f07d1d9878bbd38701108a407c16c47745a83,0,0,0,0,0,
12,ID,2020-08-31,31867,224146,NaN,181.0,1369.0,52.0,375.0,NaN,...,256013,1,4,e2b32b355e617c923d02c84381b34df57e281ee3,0,0,0,0,0,
13,IL,2020-08-31,236725,3829138,NaN,1492.0,NaN,347.0,NaN,157.0,...,4065863,7,0,27279dac60cb70208f2eaba39739f9df9feb58cf,0,0,0,0,0,
14,IN,2020-08-31,94196,982751,NaN,881.0,11043.0,222.0,2217.0,79.0,...,1076947,5,200,c2c78b92e32f33925aa21503568c51e904f56925,0,0,0,0,0,
15,KS,2020-08-31,42612,370637,NaN,211.0,2304.0,55.0,628.0,21.0,...,413249,3,26,313b372d810ba098c82beebd59259059fc375459,0,0,0,0,0,
16,KY,2020-08-31,48396,772924,NaN,557.0,4580.0,144.0,1385.0,NaN,...,821320,3,20,3b2dd8f191bbfb2adf7b6c92dee4abdfb0516009,0,0,0,0,0,
17,LA,2020-08-31,148193,1724596,NaN,881.0,NaN,NaN,NaN,132.0,...,1872789,19,0,678604bbc93e5d5d58f3a575d936114394516f46,0,0,0,0,0,
18,MA,2020-08-31,128533,1613984,NaN,314.0,12364.0,56.0,NaN,22.0,...,1742517,11,3,da4adaa300f1630e63a228caba3f19590c3a28e7,0,0,0,0,0,
19,MD,2020-08-31,108249,1222604,NaN,377.0,14303.0,107.0,NaN,NaN,...,1330853,3,48,48aedff5a50be6a082fd26fef6e77dbf3689e7bd,0,0,0,0,0,
20,ME,2020-08-31,4526,258409,NaN,6.0,420.0,4.0,NaN,1.0,...,262935,0,0,a918126cec7ecb5c4cb492e75d2e988e06bb2afc,0,0,0,0,0,
21,MI,2020-08-31,113025,2651406,NaN,629.0,NaN,156.0,NaN,90.0,...,2764431,5,0,377b8bf475410b5b4a7882b4bc5d0c3280da0020,0,0,0,0,0,
22,MN,2020-08-31,75864,1052159,NaN,306.0,6480.0,131.0,1839.0,NaN,...,1128023,1,26,55e5aa59146230ff6a7cb46b4436c85e0a954ed8,0,0,0,0,0,
23,MO,2020-08-31,84697,898258,NaN,906.0,NaN,NaN,NaN,110.0,...,982955,22,0,a6b053cc05795e383c1c4c992c6de5c5694cc84b,0,0,0,0,0,
24,MS,2020-08-31,82950,490915,NaN,802.0,5326.0,207.0,NaN,121.0,...,573865,32,26,4d5fb80636689a01b9d397e1171192d7bcd6c7ea,0,0,0,0,0,
25,MT,2020-08-31,7421,242817,NaN,134.0,436.0,NaN,NaN,NaN,...,250238,0,4,edd59108e45ffbecf053f54dc90a5c977176c711,0,0,0,0,0,
26,NC,2020-08-31,167313,2088859,NaN,923.0,NaN,244.0,NaN,NaN,...,2256172,10,0,bf51fe068f6ac4e978b84b86d078e34675992277,0,0,0,0,0,
27,ND,2020-08-31,11816,189945,NaN,68.0,554.0,17.0,149.0,NaN,...,201761,0,0,2f24741265d1fe11df885af94d229901fecbdee4,0,0,0,0,0,
28,NE,2020-08-31,34046,327305,NaN,172.0,1994.0,NaN,NaN,NaN,...,361351,0,2,d26583c4fe5463433124fd9bb3c0283935816c65,0,0,0,0,0,
29,NH,2020-08-31,7275,203641,NaN,6.0,714.0,NaN,220.0,NaN,...,210916,0,0,5bb9b3ba139f7de9a8ff5ff48102e29cc61ad145,0,0,0,0,0,
30,NJ,2020-08-31,191960,2665958,NaN,484.0,22627.0,103.0,NaN,36.0,...,2857918,0,0,0e3739188f8911909cb1b9f1960d0daa6540623a,0,0,0,0,0,
31,NM,2020-08-31,25283,731650,NaN,66.0,3126.0,NaN,NaN,NaN,...,756933,1,10,7226e3878bee2d39cc4a2756b851f21ed86d046a,0,0,0,0,0,
32,NV,2020-08-31,69228,528693,NaN,664.0,NaN,196.0,NaN,106.0,...,597921,3,0,29277ffa10ea4609b2746a8da72ee41f15ddb799,0,0,0,0,0,
33,NY,2020-08-31,434756,7828277,NaN,418.0,89995.0,109.0,NaN,51.0,...,8263033,1,0,4cdd8f106eb6199e4f70808f9688056bfcf3df47,0,0,0,0,0,
34,OH,2020-08-31,123157,2120947,NaN,774.0,13376.0,244.0,2961.0,140.0,...,2244104,10,59,110a1dd0a3e4ad420aa6475dded330d545155044,0,0,0,0,0,
35,OK,2020-08-31,58733,806545,7165.0,570.0,4821.0,214.0,NaN,NaN,...,865278,1,7,d3c9dff3c0cf695951c916869a8a968dbf1363f6,0,0,0,0,0,
36,OR,2020-08-31,26713,530515,NaN,136.0,2149.0,43.0,NaN,24.0,...,557228,1,41,e569f437ea958d62f9830924a30b878ecc353946,0,0,0,0,0,
37,PA,2020-08-31,134025,1524195,NaN,505.0,NaN,NaN,NaN,78.0,...,1658220,0,0,a1ae9fbd2725531d8a50234bba768959267f68a2,0,0,0,0,0,
38,RI,2020-08-31,21949,251948,NaN,77.0,2519.0,9.0,NaN,5.0,...,273897,1,0,d3c0ee9c6b03bd2064b6edff96f2d33869eb5422,0,0,0,0,0,
39,SC,2020-08-31,118992,830556,NaN,934.0,7811.0,247.0,NaN,136.0,...,949548,11,29,5c95eba59f79ab1f5736a1106870df94686103b2,0,0,0,0,0,
40,SD,2020-08-31,13509,133020,NaN,76.0,1029.0,NaN,NaN,NaN,...,146529,0,12,59782dab930f2beeca21e80b5d2f2f6ed9c97eaa,0,0,0,0,0,
41,TN,2020-08-31,154933,2046066,NaN,910.0,6878.0,313.0,NaN,155.0,...,2200999,7,38,851273ae61dfc4f8359fd99f4da99e8a5b985d35,0,0,0,0,0,
42,TX,2020-08-31,612969,4348584,NaN,4203.0,NaN,1525.0,NaN,NaN,...,4961553,26,0,f1a7520de722945dc53e7848ae76240c78f247a0,0,0,0,0,0,
43,UT,2020-08-31,52107,607748,NaN,143.0,3093.0,45.0,776.0,NaN,...,659855,0,13,46a9f1779e48ac91fc6b039ca27cdc5a8bcdbee9,0,0,0,0,0,
44,VA,2020-08-31,120594,1465957,318.0,1082.0,16167.0,257.0,NaN,146.0,...,1586551,11,78,f4aa3ad43435684b9e0882da7307abfe5358e4ba,0,0,0,0,0,
45,VT,2020-08-31,1624,134097,NaN,8.0,NaN,NaN,NaN,NaN,...,135721,0,0,60652e6fb78131f4af1a8bff316f585e3c6bf7b4,0,0,0,0,0,
46,WA,2020-08-31,74320,1387034,NaN,340.0,6740.0,NaN,NaN,51.0,...,1461354,0,0,f41220bd18446de28a1cd1ae260590f686f1b410,0,0,0,0,0,
47,WI,2020-08-31,80568,1172854,157.0,287.0,5817.0,104.0,1020.0,NaN,...,1253422,0,13,4e836b4a556498ceeee685e6b62c62214317457a,0,0,0,0,0,
48,WV,2020-08-31,10250,425797,NaN,139.0,NaN,49.0,NaN,23.0,...,436047,1,0,cbf9726ad2619fa66b85af2a8af237fe1cb3d101,0,0,0,0,0,
49,WY,2020-08-31,3842,72431,NaN,16.0,215.0,NaN,NaN,NaN,...,76273,0,0,6d6c991f755591ee281fff25658346ec80a44ffa,0,0,0,0,0,

In [37]:
#URL pulls collection of all states current data from previous dates
url = "https://api.covidtracking.com/v1/states/daily.json"
state_daily_data = (requests.get(url)).json()

#Creating dataframe form API request
state_daily_data=pd.DataFrame(state_daily_data)

#date format is yyyymmdd this line changes to yyyy-mm-dd
#Used later in adding specific cloumns for "Month" and "Day" for sorting data by timeframe
state_daily_data['date'] = pd.to_datetime(state_daily_data['date'], format='%Y%m%d')

#Dropping US Territories from state list
state_daily_data = state_daily_data.set_index("state")
state_daily_data = state_daily_data.drop(["AS","GU","MP","PR", "VI","DC"])
state_daily_data = state_daily_data.reset_index()

#loop for summing for total state cases
states = state_daily_data["state"].unique()
total_cases_by_state = []

for state in states:
    state_case = state_daily_data.loc[state_daily_data["state"] == state]
    total_cases_by_state.append(state_case["positive"].sum())

state_daily_data.head(500)

,state,date,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,AK,2020-08-31,6125.0,342505.0,NaN,39.0,NaN,NaN,NaN,8.0,...,348630,0,0,cf39874094a3ac9c4c3b69e94b68927b52a862eb,0,0,0,0,0,
1,AL,2020-08-31,126058.0,859229.0,NaN,1004.0,14267.0,NaN,1474.0,NaN,...,985287,20,0,7547348e99fc537845e193fe2c58d552b40036cb,0,0,0,0,0,
2,AR,2020-08-31,61224.0,665811.0,NaN,420.0,4213.0,NaN,NaN,87.0,...,727035,13,31,6a343a185910575b6b3dc7204110439160baf877,0,0,0,0,0,
3,AZ,2020-08-31,201835.0,1002594.0,NaN,768.0,21405.0,256.0,NaN,152.0,...,1204429,-1,-16,3410711ea86edea436f3bf920d6fef2b765a927c,0,0,0,0,0,
4,CA,2020-08-31,704085.0,10669220.0,NaN,4829.0,NaN,1346.0,NaN,NaN,...,11373305,28,0,3772a213d9eba8933d8d80c678cdbb3496a8a730,0,0,0,0,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,VT,2020-08-22,1553.0,117051.0,NaN,15.0,NaN,NaN,NaN,NaN,...,118604,0,0,2b07a9ebfecb66d48a3ced58b676057cea9f811e,0,0,0,0,0,
496,WA,2020-08-22,71598.0,1304935.0,NaN,371.0,6469.0,NaN,NaN,45.0,...,1376533,13,69,2cd6b0485b67923c09e6c83addc4ae226e549bc6,0,0,0,0,0,
497,WI,2020-08-22,74726.0,1110788.0,190.0,350.0,5545.0,119.0,986.0,NaN,...,1185514,14,40,641ab4831d3f4d09a4f230419330ce5f5acbb874,0,0,0,0,0,
498,WV,2020-08-22,9185.0,382673.0,NaN,138.0,NaN,51.0,NaN,23.0,...,391858,6,0,adacd3b5fc05e71b711ebad41b3f917a35dd538c,0,0,0,0,0,
499,WY,2020-08-22,3543.0,61313.0,NaN,19.0,203.0,NaN,NaN,NaN,...,64856,0,0,83ae1a0d88b1e2e10f6b0cff869439c027955aec,0,0,0,0,0,

In [18]:
#loop for finding positive rate per month
#Positive cases per month / total of positive and negitive test results
months = [1,2,3,4,5,6,7,8]
positive_rates = []
state_list = []
month_list = []

for state in states:
    
    single_state = state_daily_data.loc[state_daily_data["state"] == state]
    single_state['date'] = pd.to_datetime(single_state['date'], format='%Y%m%d')    
    single_state = single_state.sort_values("date")
    single_state['month'] = pd.DatetimeIndex(single_state['date']).month
    single_state['day'] = pd.DatetimeIndex(single_state['date']).day
    for month in months:
        print(state)
        try:
            single_month = single_state.loc[single_state["month"] == month]
            single_month = single_month.reset_index()
            first_row = single_month.iloc[0]
            last_row = single_month.iloc[-1]
            month_pos = int(last_row["positive"]) - int(first_row["positive"])
            month_tot = int(last_row["posNeg"]) - int(first_row["posNeg"])
            positive_rate = month_pos / month_tot
            positive_rate = "{:.2%}".format(positive_rate)
            positive_rates.append(positive_rate)
            state_list.append(state)
            month_list.append(month)
            
            
        except IndexError:
            #some states had no cases in the first 2 months
            print("no data for this month")
        except ValueError:
            #New Jersey had had values of NaN causing a value error
            print("value issue")
        except ZeroDivisionError:
            #Washington first month total comes out to 0 causing a division by zero error
            print("month total = 0")

AK
no data for this month
AK
no data for this month
AK
AK
AK
AK
AK
AK
AL
no data for this month
AL
no data for this month
AL
AL
AL
AL
AL
AL
AR
no data for this month
AR
no data for this month
AR
AR
AR
AR
AR
AR
AZ
no data for this month
AZ
no data for this month
AZ
AZ
AZ
AZ
AZ
AZ
CA
no data for this month
CA
no data for this month
CA
CA
CA
CA
CA
CA
CO
no data for this month
CO
no data for this month
CO
CO
CO
CO
CO
CO
CT
no data for this month
CT
no data for this month
CT
CT
CT
CT
CT
CT
DE
no data for this month
DE
no data for this month
DE
DE
DE
DE
DE
DE
FL
no data for this month
FL
no data for this month
FL
FL
FL
FL
FL
FL
GA
no data for this month
GA
no data for this month
GA
GA
GA
GA
GA
GA
HI
no data for this month
HI
no data for this month
HI
HI
HI
HI
HI
HI
IA
no data for this month
IA
no data for this month
IA
IA
IA
IA
IA
IA
ID
no data for this month
ID
no data for this month
ID
ID
ID
ID
ID
ID
IL
no data for this month
IL
no data for this month
IL
IL
IL
IL
IL
IL
IN
no data for this month
IN
no data for this month
IN
IN
IN
IN
IN
IN
KS
no data for this month
KS
no data for this month
KS
KS
KS
KS
KS
KS
KY
no data for this month
KY
no data for this month
KY
KY
KY
KY
KY
KY
LA
no data for this month
LA
no data for this month
LA
LA
LA
LA
LA
LA
MA
value issue
MA
value issue
MA
value issue
MA
MA
MA
MA
MA
MD
no data for this month
MD
no data for this month
MD
MD
MD
MD
MD
MD
ME
no data for this month
ME
no data for this month
ME
ME
ME
ME
ME
ME
MI
no data for this month
MI
no data for this month
MI
MI
MI
MI
MI
MI
MN
no data for this month
MN
no data for this month
MN
MN
MN
MN
MN
MN
MO
no data for this month
MO
no data for this month
MO
MO
MO
MO
MO
MO
MS
no data for this month
MS
no data for this month
MS
MS
MS
MS
MS
MS
MT
no data for this month
MT
no data for this month
MT
MT
MT
MT
MT
MT
NC
no data for this month
NC
no data for this month
NC
NC
NC
NC
NC
NC
ND
no data for this month
ND
no data for this month
ND
ND
ND
ND
ND
ND
NE
no data for this month
NE
no data for this month
NE
NE
NE
NE
NE
NE
NH
no data for this month
NH
no data for this month
NH
NH
NH
NH
NH
NH
NJ
no data for this month
NJ
value issue
NJ
value issue
NJ
NJ
NJ
NJ
NJ
NM
no data for this month
NM
no data for this month
NM
NM
NM
NM
NM
NM
NV
no data for this month
NV
no data for this month
NV
NV
NV
NV
NV
NV
NY
no data for this month
NY
no data for this month
NY
NY
NY
NY
NY
NY
OH
no data for this month
OH
no data for this month
OH
OH
OH
OH
OH
OH
OK
no data for this month
OK
no data for this month
OK
OK
OK
OK
OK
OK
OR
no data for this month
OR
no data for this month
OR
OR
OR
OR
OR
OR
PA
no data for this month
PA
no data for this month
PA
PA
PA
PA
PA
PA
RI
no data for this month
RI
no data for this month
RI
RI
RI
RI
RI
RI
SC
no data for this month
SC
no data for this month
SC
SC
SC
SC
SC
SC
SD
no data for this month
SD
no data for this month
SD
SD
SD
SD
SD
SD
TN
no data for this month
TN
no data for this month
TN
TN
TN
TN
TN
TN
TX
no data for this month
TX
no data for this month
TX
TX
TX
TX
TX
TX
UT
no data for this month
UT
no data for this month
UT
UT
UT
UT
UT
UT
VA
no data for this month
VA
value issue
VA
value issue
VA
VA
VA
VA
VA
VT
no data for this month
VT
no data for this month
VT
VT
VT
VT
VT
VT
WA
month total = 0
WA
WA
WA
WA
WA
WA
WA
WI
no data for this month
WI
no data for this month
WI
WI
WI
WI
WI
WI
WV
no data for this month
WV
no data for this month
WV
WV
WV
WV
WV
WV
WY
no data for this month
WY
no data for this month
WY
WY
WY
WY
WY
WY

In [44]:
#Dataframe created from above loop
pos_rates_df = pd.DataFrame({
    "State": state_list,
    "Positive Rate": positive_rates,
    "Month": month_list
})

pos_rates_df.head(30)

   State Positive Rate  Month
0     AK         3.21%      3
1     AK         1.53%      4
2     AK         0.22%      5
3     AK         0.82%      6
4     AK         2.27%      7
5     AK         2.09%      8
6     AL        13.48%      3
7     AL         7.48%      4
8     AL         8.55%      5
9     AL        10.75%      6
10    AL        17.70%      7
11    AL        12.75%      8
12    AR         8.08%      3
13    AR         6.60%      4
14    AR         4.92%      5
15    AR         7.49%      6
16    AR        11.30%      7
17    AR         8.50%      8
18    AZ         6.65%      3
19    AZ        12.29%      4
20    AZ         7.97%      5
21    AZ        19.42%      6
22    AZ        23.41%      7
23    AZ         9.71%      8
24    CA        25.85%      3
25    CA         6.85%      4
26    CA         4.66%      5
27    CA         5.37%      6
28    CA         7.24%      7
29    CA         5.85%      8

In [20]:
#States total population by summing all counties population
state_pop = []
states = county_population_file["State"].unique()

for state in states:
    state_df = county_population_file.loc[county_population_file["State"] == state]
    state_pop.append(state_df["population"].sum())
    
population_df = pd.DataFrame({
    "state": states,
    "population": state_pop
})

In [21]:
#State deaths cases data imported from sources folder
state_deaths_cases_file.head()

#Sorting alphabetically by state
state_deaths_cases_file = state_deaths_cases_file.rename(columns={"state":"State"})
state_deaths_cases_file = state_deaths_cases_file.sort_values("State")

#Breaking down date into a month and day column for easier filtering by month
state_deaths_cases_file['month'] = pd.DatetimeIndex(state_deaths_cases_file['date']).month
state_deaths_cases_file['day'] = pd.DatetimeIndex(state_deaths_cases_file['date']).day

#Dropping any empty rows from dataframe
state_deaths_cases_file = state_deaths_cases_file.dropna()
state_deaths_cases_file = state_deaths_cases_file.set_index("State")

state_deaths_cases_file.head()

               date  fips   cases  deaths  month  day
State
Alabama  2020-04-24     1    6026     209      4   24
Alabama  2020-07-18     1   65234    1286      7   18
Alabama  2020-05-07     1    9046     369      5    7
Alabama  2020-05-09     1    9668     390      5    9
Alabama  2020-08-18     1  110361    1936      8   18

In [22]:
#Looking at specific state data for states according to lockdown
positive_closings = state_deaths_cases_file.loc[["California","Florida","New York", 
                                                "Kansas","Texas","Washington"],
                                                ["date","cases","month"]]
positive_closings = positive_closings.sort_values("date")
positive_closings.head()

                  date  cases  month
State
Washington  2020-01-21      1      1
Washington  2020-01-22      1      1
Washington  2020-01-23      1      1
Washington  2020-01-24      1      1
Washington  2020-01-25      1      1

In [23]:
#Pulling data from specific state prior to the decsion to lock down.
#once data is pulled cases are summed up for each month
california = positive_closings.loc["California"]
cali_closings = california.loc[(california["date"] >= "2020-03-19"),:]
cali_closings = california.loc[(california["date"] <= "2020-05-12"),:]
cali_closings = cali_closings.groupby(by=["month"]).agg(sum)

kansas = positive_closings.loc["Kansas"]
ks_closings = kansas.loc[(kansas["date"]>= "2020-04-19"),:]
ks_closings = kansas.loc[(kansas["date"]<= "2020-05-03"),:]
ks_closings = ks_closings.groupby(by=["month"]).agg(sum)

florida = positive_closings.loc["Florida"]
fl_closings = florida.loc[(florida["date"]>= "2020-04-03"),:]
fl_closings = florida.loc[(florida["date"]<= "2020-04-30"),:]
fl_closings = fl_closings.groupby(by=["month"]).agg(sum)

new_york = positive_closings.loc["New York"]
ny_closings = new_york.loc[(new_york["date"]>= "2020-03-22"),:]
ny_closings = new_york.loc[(new_york["date"]<= "2020-05-15"),:]
ny_closings = ny_closings.groupby(by=["month"]).agg(sum)

washington = positive_closings.loc["Washington"]
wa_closings = washington.loc[(washington["date"]>= "2020-03-23"),:]
wa_closings = washington.loc[(washington["date"]<= "2020-05-04"),:]
wa_closings = wa_closings.groupby(by=["month"]).agg(sum)

texas = positive_closings.loc["Texas"]
tx_closings = texas.loc[(texas["date"]>= "2020-04-02"),:]
tx_closings = texas.loc[(texas["date"]<= "2020-04-30"),:]
tx_closings = tx_closings.groupby(by=["month"]).agg(sum)

In [24]:
#Sorting by states Re-open dates.  Data after the reopen is summed up to show total each month.
cali_reo = california.loc[(california["date"] >= "2020-05-12"),:]
cali_reo = cali_reo.groupby(by=["month"]).agg(sum)

ks_reo = kansas.loc[(kansas["date"]>= "2020-05-03"),:]
ks_reo = ks_reo.groupby(by=["month"]).agg(sum)

fl_reo = florida.loc[(florida["date"]>= "2020-04-30"),:]
fl_reo = fl_reo.groupby(by=["month"]).agg(sum)

ny_reo = new_york.loc[(new_york["date"]>= "2020-05-15"),:]
ny_reo = ny_reo.groupby(by=["month"]).agg(sum)

wa_reo = washington.loc[(washington["date"]>= "2020-05-04"),:]
wa_reo = wa_reo.groupby(by=["month"]).agg(sum)

tx_reo = texas.loc[(texas["date"]>= "2020-04-30"),:]
tx_reo = tx_reo.groupby(by=["month"]).agg(sum)

In [26]:
#Removing some of the counties listed and the types of stay at home/shelter in place


state_lockdown_file['month'] = pd.DatetimeIndex(state_lockdown_file['Date']).month
state_lockdown_file['day'] = pd.DatetimeIndex(state_lockdown_file['Date']).day

state_lockdown_file

,Country,State,County,Date,Type,month,day
0,United States,Alabama,NaN,2020-04-04,Stay at home,4,4
1,United States,Alabama,Birmingham,2020-03-24,Shelter in place,3,24
2,United States,Alaska,NaN,2020-03-28,Stay at home,3,28
3,United States,Arizona,NaN,2020-03-31,Stay at home,3,31
4,United States,California,NaN,2020-03-19,Stay at home,3,19
...,...,...,...,...,...,...,...
168,United States,Virginia,NaN,2020-03-30,Stay at home,3,30
169,United States,Washington,NaN,2020-03-23,Stay at home,3,23
170,United States,West Virginia,NaN,2020-03-24,Stay at home,3,24
171,United States,Wisconsin,NaN,2020-03-25,Stay at home,3,25
172,United States,Wyoming,Jackson,2020-03-28,Stay at home,3,28

In [27]:
#Takeing data from the State current API
state_current_narrow = state_current_data[["state","positive","death","hospitalized"]]
state_current_drop = state_current_narrow.dropna()
state_current_drop
state_current_drop = state_current_drop.set_index('state')
state_current_drop

#Merging with the state population dataframe to compair positive cases and deaths with state total population
state_current_df = pd.merge(state_current_drop, population_df, on='state')

state_current_df.head()

  state  positive  death  hospitalized  population
0    AL    126058   2182       14267.0     4903185
1    AR     61224    797        4213.0     3017804
2    AZ    201835   5029       21405.0     7278717
3    CO     57223   1843        7010.0     5758736
4    CT     52879   4465       11180.0     3565287

In [29]:
#Making a new dataframe of 5 states with early lockdown date
states_early_lock = state_current_drop.loc[["KY","MA","NY","WA","WI"],["death","hospitalized"]]
states_early_lock

#Making dataframe of 5 states with a late lockdown date
states_late_lock = state_current_drop.loc[["FL","GA","KS","SC","AZ"],["death","hospitalized"]]
states_late_lock

       death  hospitalized
state
FL     11331       38942.0
GA      5632       24604.0
KS       446        2304.0
SC      2720        7811.0
AZ      5029       21405.0

In [47]:
#Selection of states for having summer tourist attractions
#to see if cases increased during summer months
summer_fun = state_deaths_cases_file.loc[["California","Florida","Hawaii",
                                                "Missouri","Texas","Nevada"],
                                                ["date","cases","month"]]

summer_fun.head()

                  date   cases  month
State
California  2020-04-27   45208      4
California  2020-03-18     893      3
California  2020-05-13   73218      5
California  2020-07-23  433175      7
California  2020-05-11   69514      5
...                ...     ...    ...
Hawaii      2020-08-12    3935      8
Hawaii      2020-07-23    1468      7
Hawaii      2020-06-05     653      6
Hawaii      2020-05-18     630      5
Hawaii      2020-05-08     619      5

[500 rows x 3 columns]